.pokemon div {
  background: #e3e3e3
}

.pokemon span {
  font-weight: bold;
  margin-top: 20px;
  display: block
}

.pokemon dt {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 6px;
}

.pokemon dd {
  text-transform: capitalize;
}
